<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="text1">

    <p>Sell Your Home Fast & For Cash</p>
    <p>We Buy Homes In Any Condition</p>
    <div class="text2"><p>No Repairs. No Fees Or Comissions. We Pay All Closing Costs.</p>
    <p><a href="tel:281-318-1377">281-318-1377</a> / <a href="mailto:buyer@acacia411.com">buyer@acacia411.com</a></p></div>
    
</div>

<div class="text1">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdcdF2w6N8LNR3uynhME0Z1qwZ_wc9IvI0pfwJCkFfP2YobSw/viewform?embedded=true" width="640" height="919" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>